@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

* {
    color: #222;
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
    background-color: #fff
}

html,
body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.title {
    font-size: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.wheel {
    /*animation: spin 120s infinite linear;*/
    animation: spin 120s infinite linear;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card {
    /*animation: spin 120s infinite linear reverse;*/
    animation: spin 120s infinite linear reverse;
    width: 50px;
    height: 50px;
    background-image: url(../imgs/skypeCrying.gif);
    background-size: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}